.container {
  padding: 10px;
  color: var(--text);
  opacity: 0; // gsap animates this
}

// h1 {
//   font-size: 28px;
//   font-weight: 700;
//   margin-bottom: 20px;
// }

.section {
  margin-top: 30px;
  padding: 20px;
  background: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;

  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.avatarPreview {
  width: 90px;
  height: 90px;
  border-radius: 12px;
  object-fit: cover;
  border: 2px solid var(--card-border);
  margin-bottom: 10px;
}
