.container {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  align-items: center;

  h1 {
    font-size: 28px;
    font-weight: 700;
  }
}

.right {
  display: flex;
  gap: 12px;
}

.search {
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid var(--card-border);
  background: var(--card-bg);
  width: 220px;
}

.newTaskBtn {
  background: var(--primary);
  color: #000;
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 18px;
}

.card {
  background: var(--card-bg);
  border: 1px solid var(--card-border);
  padding: 18px;
  border-radius: 14px;
  transition: 0.3s;

  &:hover {
    transform: translateY(-4px);
    border-color: var(--primary);
  }
}

.topRow {
  display: flex;
  justify-content: space-between;
}

.status {
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
}

.todo {
  background: #ffe5e5;
  color: #8a0f0f;
}
.in-progress {
  background: #fff4c2;
  color: #705c00;
}
.completed {
  background: #d9ffe4;
  color: #04662c;
}

.desc {
  margin: 10px 0;
  color: var(--text-soft);
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: var(--text-soft);
}
